<!DOCTYPE html>
<html>
<head>
  <title><%= page_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <% BarkestCore.send(:css_registry).each do |css_file| %>
      <link rel="stylesheet" type="text/css" href="<%= css_file %>" >
  <% end %>
  <%= yield(:additional_styles) %>
  <script type="text/javascript">
    application_root_offset = '<%= (root_url[-1] == '/' ? root_url[0...-1] : root_url).gsub("'", "\\'") %>';
  </script>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/barkest_core/shim' %>
  <% BarkestCore.send(:js_registry).each do |js_file| %>
      <script type="text/javascript" src="<%= js_file %>"></script>
  <% end %>
  <%= yield(:additional_scripts) %>
</head>
<body>
<%= render 'layouts/barkest_core/header' %>
<div class="container body-content">
  <%= render_for_namespace 'subheader' %>
  <%= render 'layouts/barkest_core/messages' %>
  <%= yield %>
</div>
<%= render 'layouts/barkest_core/footer' %>
<!-- <%= Rails.application.app_info %>  -->
<% console if Rails.env.development? %>
</body>
</html>
