<div class="container">
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <%= render 'layouts/nav_logo' %>
      </div>
      <div class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to 'Home', root_path %></li>
          <% BarkestCore.send(:anon_menu_registry).each do |partial| %>
              <%= render partial rescue nil %>
          <% end %>
          <%= render_for_namespace 'menu_anon' %>
          <% if logged_in? %>
              <% BarkestCore.send(:auth_menu_registry).each do |partial| %>
                  <%= render partial rescue nil %>
              <% end %>
              <%= render_for_namespace 'menu_auth' %>
          <% end %>
          <%= render 'layouts/barkest_core/menu_account' %>
        </ul>
      </div>
    </div>
  </div>
</div>
