<%= panel 'System Configuration' do %>
    <ul>
      <li><%= link_to 'Self Update Settings', system_config_self_update_url %></li>
      <li><%= link_to 'User Authentication', system_config_auth_url %></li>
      <li><%= link_to 'Email Settings', system_config_email_url %></li>
      <% BarkestCore::DatabaseConfig.registered.each do |db_id| %>
          <li><%= link_to 'Database Settings: ' + db_id, system_config_database_url(db_id) %></li>
      <% end %>
    </ul>

    <br>
    <br>

    <div class="center">
      <% if BarkestCore.restart_pending? %>
          <strong>Application restart is pending.</strong><br>
          <%= link_to 'Refresh Page', system_config_url, class: 'btn btn-warning' %>
      <% else %>
          <%= link_to 'Restart Application', system_config_restart_url, method: :post, class: 'btn btn-danger' %>
      <% end %>
    </div>
<% end %>