<%= panel 'System Configuration' do %>
    <ul>
      <% SystemConfigController.get_config_items.sort.each do |(item_name,attrib)| %>
          <% if attrib[:require_id] %>
              <% eval(attrib[:id_provider]).each do |id| %>
                  <li><%= link_to item_name.to_s.humanize.titlecase + ' Settings: ' + id.to_s.humanize.titlecase, eval("#{attrib[:path_helper]}(#{id.inspect})") %></li>
              <% end %>
          <% else %>
              <li><%= link_to item_name.to_s.humanize.titlecase + ' Settings', eval(attrib[:path_helper].to_s) %></li>
          <% end %>
      <% end %>
    </ul>

    <br>
    <br>

    <div class="center">
      <% if BarkestCore.restart_pending? %>
          <strong>Application restart is pending.</strong><br>
          <%= link_to 'Refresh Page', system_config_url, class: 'btn btn-warning' %>
      <% else %>
          <%= link_to 'Restart Application', system_config_restart_url, method: :post, class: 'btn btn-danger' %>
      <% end %>
    </div>
<% end %>