<% provide(:title, @user.name) %>

<div class="row">
  <h1>
    <%= gravatar_for @user %>
    <%= @user.name %>
  </h1>
</div>

<div class="row">
  <div class="col-md-6 col-md-offset-2">
    <%= render 'users/user_details', user: @user %>
  </div>
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h4 class="panel-title">Login History</h4>
      </div>
      <% hist = @user.login_histories.order(created_at: :desc).limit(10).to_a %>
      <table class="table table-condensed">
        <thead>
        <tr>
          <th>Date/Time</th>
          <th>IP Address</th>
          <th>Success</th>
          <th>Notes</th>
        </tr>
        </thead>
        <tbody>
        <% if hist && hist.count > 0 %>
            <% hist.each do |rec| %>
                <tr>
                  <td><%= rec.created_at.in_time_zone.strftime("%Y-%m-%d %H:%M:%S") %></td>
                  <td><%= rec.ip_address %></td>
                  <td><%= check_if rec.successful %></td>
                  <td><%= rec.message %></td>
                </tr>
            <% end %>
        <% else %>
            <tr><td colspan="4" style="text-align: center;">No History</td></tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
